<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Base32" version="1.0.0.13" targetFramework="net40" />
  <package id="DynamicLanguageRuntime" version="1.1.2" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="IronPython" version="2.7.7" targetFramework="net45" />
  <package id="IronPython.StdLib" version="2.7.7" targetFramework="net45" />
  <package id="LibGit2Sharp" version="0.24.0" targetFramework="net45" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.185" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.105.2" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.105.2" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.105.2" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.105.2" targetFramework="net45" />
  <package id="WiX" version="3.11.0" targetFramework="net40" />
</packages>