<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER_Bin_Locales" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents_Locales">
            <Component Id="cmp5B5361C1F1477235AEEF40AC5556362F" Directory="INSTALLFOLDER_Bin_Locales" Guid="{C5321B6C-5258-4735-9400-672E1E614468}">
                <File Id="filC32E7904B6CCD2C3A16BB5AFA57E1222" KeyPath="yes" Source="$(var.BinSource)\am.pak" />
            </Component>
            <Component Id="cmpAA940B52D57FA38D54847277EE58E6C7" Directory="INSTALLFOLDER_Bin_Locales" Guid="{95FCA772-9B49-4C56-93AF-34B2A3296BDF}">
                <File Id="fil7C9C803E8277BC5CB7D72513B24243B6" KeyPath="yes" Source="$(var.BinSource)\ar.pak" />
            </Component>
            <Component Id="cmpAF0CE3C4906B1AF885D7518B7B7A533C" Directory="INSTALLFOLDER_Bin_Locales" Guid="{1D40FBF9-E9F0-44A0-BDF1-5B871B7AC700}">
                <File Id="filC8D98427FC313C999EEE912F33A0026B" KeyPath="yes" Source="$(var.BinSource)\bg.pak" />
            </Component>
            <Component Id="cmpB050BCF8FE4A8A403A43BBB08C6D9D05" Directory="INSTALLFOLDER_Bin_Locales" Guid="{235E5F6D-6165-425B-983A-4249EC339D69}">
                <File Id="fil3730792E8CD2F13F8237B81A1A2A1B86" KeyPath="yes" Source="$(var.BinSource)\bn.pak" />
            </Component>
            <Component Id="cmp0300327B0801F365F882916B1DF5B067" Directory="INSTALLFOLDER_Bin_Locales" Guid="{9E16693E-F2C5-401D-8CC7-51F4FC554309}">
                <File Id="filAF67ED05CD6AF9F410A542334D852451" KeyPath="yes" Source="$(var.BinSource)\ca.pak" />
            </Component>
            <Component Id="cmp8B464E42B33907E8DF058B647CDEECC5" Directory="INSTALLFOLDER_Bin_Locales" Guid="{AC6ACF62-ED78-4944-852C-7B5F9E59B13D}">
                <File Id="fil04641C641E4FF07328E198EA85086F82" KeyPath="yes" Source="$(var.BinSource)\cs.pak" />
            </Component>
            <Component Id="cmpCF211695DAAE4E18F12660616F52C052" Directory="INSTALLFOLDER_Bin_Locales" Guid="{E28E0AC8-9718-4FF3-AEAE-2556A554E74E}">
                <File Id="fil649259A7F24200B5F2DD52DB9D6004B7" KeyPath="yes" Source="$(var.BinSource)\da.pak" />
            </Component>
            <Component Id="cmpC07A96432DFB4DDDE0218AFC14B23E68" Directory="INSTALLFOLDER_Bin_Locales" Guid="{9DE39C40-0F73-4835-8192-E9AAEC327C95}">
                <File Id="filD1B0C4045C5A0E58E85604A530CC2DE0" KeyPath="yes" Source="$(var.BinSource)\de.pak" />
            </Component>
            <Component Id="cmp33BB584E5FCBC919A29DEBE1FDD1523D" Directory="INSTALLFOLDER_Bin_Locales" Guid="{1A87126E-13BC-4576-A568-86DBBB604BD1}">
                <File Id="fil318FF8264A71CA2868C3DCBA2CE56BDB" KeyPath="yes" Source="$(var.BinSource)\el.pak" />
            </Component>
            <Component Id="cmp45046F5E66225320341178392412818C" Directory="INSTALLFOLDER_Bin_Locales" Guid="{D3026315-2969-41B9-852E-E94AB2F3437C}">
                <File Id="fil04D036294FF61AF151EC481120BA0326" KeyPath="yes" Source="$(var.BinSource)\en-GB.pak" />
            </Component>
            <Component Id="cmp2BF356F80B522FEBDA914E614CA40B04" Directory="INSTALLFOLDER_Bin_Locales" Guid="{B5E225F3-0D1C-4F53-B7BE-B005E7BE97DB}">
                <File Id="fil65D090B295C0FC7159BA4F889136A70C" KeyPath="yes" Source="$(var.BinSource)\en-US.pak" />
            </Component>
            <Component Id="cmp87928F69FD4665E5B725D88EB5CDC069" Directory="INSTALLFOLDER_Bin_Locales" Guid="{1717DD77-6782-46E2-874A-33BF26A7F45E}">
                <File Id="fil20E20497B61A93D6B8A9C2AAAEF9DE67" KeyPath="yes" Source="$(var.BinSource)\es-419.pak" />
            </Component>
            <Component Id="cmp214277959F42E391AC8E6C3200320A00" Directory="INSTALLFOLDER_Bin_Locales" Guid="{B1C67B8F-AE9A-4484-B765-5A405C7F8DF3}">
                <File Id="fil24B2D88DA51199AD11AFDBA0ECC18722" KeyPath="yes" Source="$(var.BinSource)\es.pak" />
            </Component>
            <Component Id="cmp1AFD4F79D712987DB72019A05E151336" Directory="INSTALLFOLDER_Bin_Locales" Guid="{FEB74DE4-838B-44A8-B839-1C50F2AE36D8}">
                <File Id="fil2A0E7C15F5CB5412D6292DD91605E1D8" KeyPath="yes" Source="$(var.BinSource)\et.pak" />
            </Component>
            <Component Id="cmp3C0F6A33DFF3318188F8BCC6BCA394B8" Directory="INSTALLFOLDER_Bin_Locales" Guid="{C7FCCBE1-A4B6-4682-9928-5FCC8B91FD2D}">
                <File Id="fil4BE4EDD7000FBE0F0181FAED567C8BD0" KeyPath="yes" Source="$(var.BinSource)\fa.pak" />
            </Component>
            <Component Id="cmp7005C802CDEF8E6C2CFD7F1B38DAB5F1" Directory="INSTALLFOLDER_Bin_Locales" Guid="{96BC6CF3-55A9-4DAF-AA9F-6405019C68D6}">
                <File Id="filD544B618ED70374125460DB73658A9E0" KeyPath="yes" Source="$(var.BinSource)\fi.pak" />
            </Component>
            <Component Id="cmp008F7F81CA61E8A0D0E77F32BB41A362" Directory="INSTALLFOLDER_Bin_Locales" Guid="{4029EB2C-3E21-41D8-A4E5-7C226D9BEB5F}">
                <File Id="filD21F96569A2C7838008054BBB7671090" KeyPath="yes" Source="$(var.BinSource)\fil.pak" />
            </Component>
            <Component Id="cmpCD52A1A1A1B4989C39CAD4C971127789" Directory="INSTALLFOLDER_Bin_Locales" Guid="{66F7E6EF-F6F0-4C37-8F5E-7BB236208515}">
                <File Id="fil068DEF4A18CA40986949A49FAB2BE7B0" KeyPath="yes" Source="$(var.BinSource)\fr.pak" />
            </Component>
            <Component Id="cmp64F3BEEB877335FE25A1D93D6D28C1E7" Directory="INSTALLFOLDER_Bin_Locales" Guid="{761E9B6F-E7D1-4CB9-A6D1-0D705B7763EE}">
                <File Id="fil5EBC18766A094397747AE7DCC16F2C03" KeyPath="yes" Source="$(var.BinSource)\gu.pak" />
            </Component>
            <Component Id="cmpF3950BE433EA91FB525FE1C986653B05" Directory="INSTALLFOLDER_Bin_Locales" Guid="{4A52B9D3-45FA-4ACD-B03B-B0FF3AF2E1F2}">
                <File Id="fil51E4E0614A29D4B481DA7A963E7A35A3" KeyPath="yes" Source="$(var.BinSource)\he.pak" />
            </Component>
            <Component Id="cmpE7740667A4C553851BE3FD5C4197C6FC" Directory="INSTALLFOLDER_Bin_Locales" Guid="{E4DA9E9B-D848-47B8-8564-B062BDD95329}">
                <File Id="fil78684CC3108651E06DEC55D0A50474E9" KeyPath="yes" Source="$(var.BinSource)\hi.pak" />
            </Component>
            <Component Id="cmp8CF152232C1945EFAA66F2EBC511ADB5" Directory="INSTALLFOLDER_Bin_Locales" Guid="{795DFC59-FFBE-44B0-A75D-70C025DD4A85}">
                <File Id="fil38E71D67D81AE33BE25F05E709DEB7AC" KeyPath="yes" Source="$(var.BinSource)\hr.pak" />
            </Component>
            <Component Id="cmp908595391D955F93B8A4DD103557D08A" Directory="INSTALLFOLDER_Bin_Locales" Guid="{15C3FB21-7B28-40DE-855B-CF634EED29A5}">
                <File Id="fil1BB35A1FE2DDC2FBC6D5924C151B9817" KeyPath="yes" Source="$(var.BinSource)\hu.pak" />
            </Component>
            <Component Id="cmpDA924520FFD4528BE3A8BD59C57217EA" Directory="INSTALLFOLDER_Bin_Locales" Guid="{10714FAC-A6C7-47A0-B460-893ACA4CB2D9}">
                <File Id="filDBFE4D59E30460B25B32DDE7AF716424" KeyPath="yes" Source="$(var.BinSource)\id.pak" />
            </Component>
            <Component Id="cmpEEDDC44DC6BFB1C838CE64F44C3653CA" Directory="INSTALLFOLDER_Bin_Locales" Guid="{BCC9CBEE-2C5C-497F-97E5-82EF3EE09F24}">
                <File Id="filFD519456510B5FC326974753D014E8A3" KeyPath="yes" Source="$(var.BinSource)\it.pak" />
            </Component>
            <Component Id="cmp1E2CE660060C6E0BB84BF798B4995297" Directory="INSTALLFOLDER_Bin_Locales" Guid="{34F8F9C6-06D1-4637-B64F-57E64D9E1CBC}">
                <File Id="filE454A81A1E1DDA5E3A1EBFAC0A7AF319" KeyPath="yes" Source="$(var.BinSource)\ja.pak" />
            </Component>
            <Component Id="cmp6F32EE11A3FCB0296001FAB75B4A929C" Directory="INSTALLFOLDER_Bin_Locales" Guid="{F6252E22-DF83-4368-9633-6FA073ECD49A}">
                <File Id="filF355EE5FF145E361B3565BFEC4E329D3" KeyPath="yes" Source="$(var.BinSource)\kn.pak" />
            </Component>
            <Component Id="cmpA0E3004858B04841E923EF884B649EF2" Directory="INSTALLFOLDER_Bin_Locales" Guid="{8C81868B-050C-42CC-81DE-B228DEFE725D}">
                <File Id="filADD2601B0D05CBB7C1C513D4802ADA03" KeyPath="yes" Source="$(var.BinSource)\ko.pak" />
            </Component>
            <Component Id="cmp062156063915269F343CD9554E4D053F" Directory="INSTALLFOLDER_Bin_Locales" Guid="{79F28BF4-0E50-46A4-AABB-A14688524353}">
                <File Id="filD23673F0710637EE37326996D8799F96" KeyPath="yes" Source="$(var.BinSource)\lt.pak" />
            </Component>
            <Component Id="cmpCC20185FEEA4DDB3DF8F050826B70079" Directory="INSTALLFOLDER_Bin_Locales" Guid="{424CE557-D2A1-4A1D-A4E2-AD85FEBD7AF8}">
                <File Id="fil93288D2586AB1DFF1B35B891D128F0D7" KeyPath="yes" Source="$(var.BinSource)\lv.pak" />
            </Component>
            <Component Id="cmp3F0729144714606A11219822CF16AF6E" Directory="INSTALLFOLDER_Bin_Locales" Guid="{8416596A-2E1F-49CF-8DBE-F2A831BC0EC7}">
                <File Id="filC070EE8D9B97B48B35588BAAEDA6CE66" KeyPath="yes" Source="$(var.BinSource)\ml.pak" />
            </Component>
            <Component Id="cmp98B4A9F251BF69E516BC15D7C13311CC" Directory="INSTALLFOLDER_Bin_Locales" Guid="{11636436-6EE4-4369-B5F3-5FC57F6D8FDE}">
                <File Id="filA9DFCB26D4A0D650CB2B949CD0E762AF" KeyPath="yes" Source="$(var.BinSource)\mr.pak" />
            </Component>
            <Component Id="cmp560E7C9323733FDD19F66BEC9C998116" Directory="INSTALLFOLDER_Bin_Locales" Guid="{B1816319-E408-4A06-99E6-2D967480CBDD}">
                <File Id="filF4032D6213C3EB26D7ED9FB2E319C5EA" KeyPath="yes" Source="$(var.BinSource)\ms.pak" />
            </Component>
            <Component Id="cmp1EDC82160C047720839C01521F507A62" Directory="INSTALLFOLDER_Bin_Locales" Guid="{02C3E9CA-3775-42CD-82DA-9F289A308713}">
                <File Id="filE56603224CB7DDF54B36EB2BDA5E0507" KeyPath="yes" Source="$(var.BinSource)\nb.pak" />
            </Component>
            <Component Id="cmp67517C5AF0C63CC472D5A33C0245762C" Directory="INSTALLFOLDER_Bin_Locales" Guid="{49E3C7AB-BE9C-4E42-9CAE-DA5FEB2B85B8}">
                <File Id="fil55113DCD5554CD9A2A19347059F0C9A5" KeyPath="yes" Source="$(var.BinSource)\nl.pak" />
            </Component>
            <Component Id="cmpEEB8A8A8FCF2CF37A92C46A411809109" Directory="INSTALLFOLDER_Bin_Locales" Guid="{354EE1FF-096C-428A-98CA-8DA7555CC0BA}">
                <File Id="fil45202E4475B8E772589451D1602F0FFA" KeyPath="yes" Source="$(var.BinSource)\pl.pak" />
            </Component>
            <Component Id="cmpA5C7A79479124463B797A26A59E1224D" Directory="INSTALLFOLDER_Bin_Locales" Guid="{75699CEE-2606-43A4-A311-AE948BFD50AA}">
                <File Id="filEAE56E414D6A70AC174AA677D475CF73" KeyPath="yes" Source="$(var.BinSource)\pt-BR.pak" />
            </Component>
            <Component Id="cmp4AFFE8D290A4E81F1583C913ACD536DE" Directory="INSTALLFOLDER_Bin_Locales" Guid="{DC05EA7E-B86C-4841-9659-89C24E569BE2}">
                <File Id="filDBD9643FBB59FD60EDF10C89CFC84A80" KeyPath="yes" Source="$(var.BinSource)\pt-PT.pak" />
            </Component>
            <Component Id="cmp347F5197765D03F152124C99A4EB0882" Directory="INSTALLFOLDER_Bin_Locales" Guid="{659C7FFE-C854-4C24-87AD-FE126403F180}">
                <File Id="fil336CB50087E03A2D1EA20E85DBCEDB18" KeyPath="yes" Source="$(var.BinSource)\ro.pak" />
            </Component>
            <Component Id="cmpF33AB11B706BEF38BCE9710C1E5251E4" Directory="INSTALLFOLDER_Bin_Locales" Guid="{E62D531B-1C64-46B1-B496-200446239C75}">
                <File Id="filA7EC8084F6851CA0E03854916F0974CE" KeyPath="yes" Source="$(var.BinSource)\ru.pak" />
            </Component>
            <Component Id="cmpBD9931745117E3FFC8153AF8064294E1" Directory="INSTALLFOLDER_Bin_Locales" Guid="{8AFE8C78-9424-466B-991F-3FDCB6E26A3B}">
                <File Id="fil75879BF418360658BDBA74110D8A01B7" KeyPath="yes" Source="$(var.BinSource)\sk.pak" />
            </Component>
            <Component Id="cmpBFAA678E5E7BD8AF01EFE904F7D130F0" Directory="INSTALLFOLDER_Bin_Locales" Guid="{1E5E0BEA-B9AD-45A3-824F-E46711F3B222}">
                <File Id="fil6910062951C7A88E8A541FDFF1734469" KeyPath="yes" Source="$(var.BinSource)\sl.pak" />
            </Component>
            <Component Id="cmp768777E09316B2BFA9E90AA9AD9F1BFB" Directory="INSTALLFOLDER_Bin_Locales" Guid="{A3E93C41-118B-4C9A-A8DF-CC82F2F7B086}">
                <File Id="fil25B511BD41B7094E7014BEF77D117E98" KeyPath="yes" Source="$(var.BinSource)\sr.pak" />
            </Component>
            <Component Id="cmp4CBBAD0CEF9B429190F1297791E60285" Directory="INSTALLFOLDER_Bin_Locales" Guid="{14AD9DB3-964B-43A8-B666-FFD7FA4707D3}">
                <File Id="filA4B16F5EF6FA6549BD742ABAF82F90B9" KeyPath="yes" Source="$(var.BinSource)\sv.pak" />
            </Component>
            <Component Id="cmpA5CBD00C6A1E6EFF4F840869A24CEC60" Directory="INSTALLFOLDER_Bin_Locales" Guid="{6BD51383-5F1B-4219-BDC0-C4CAB327EF13}">
                <File Id="filF43BA66D76D2110E4B72B9DFDA0A0427" KeyPath="yes" Source="$(var.BinSource)\sw.pak" />
            </Component>
            <Component Id="cmp4F1994EDEF20E8408E13A82E9CA31DEC" Directory="INSTALLFOLDER_Bin_Locales" Guid="{62E2737D-7BF1-45A6-A62D-788EC5BE48C1}">
                <File Id="fil6DC1C666A9392B9973C50B638FDCC5C1" KeyPath="yes" Source="$(var.BinSource)\ta.pak" />
            </Component>
            <Component Id="cmp8475FB846DE394A4ADAB7DF16C289345" Directory="INSTALLFOLDER_Bin_Locales" Guid="{9D6A8C1A-1121-4B28-8356-63B6A102858E}">
                <File Id="filEAC69030498ED399FC70073B35E091E5" KeyPath="yes" Source="$(var.BinSource)\te.pak" />
            </Component>
            <Component Id="cmp3CCF3EE1FC18AB3CC223A88263F6EC59" Directory="INSTALLFOLDER_Bin_Locales" Guid="{E02E78D6-5EEF-4CCF-A074-B394F1797BF4}">
                <File Id="filC5C7B59DDB6CD4DD2E5AD570C3DB42C1" KeyPath="yes" Source="$(var.BinSource)\th.pak" />
            </Component>
            <Component Id="cmp8AB520E47D9FAC1A99520FD866CFF5EA" Directory="INSTALLFOLDER_Bin_Locales" Guid="{8FF9A8C9-CEAE-405C-AF68-E26C449BCC7C}">
                <File Id="filA89BEEC41BBD9F64A074D45C5E1CD4D4" KeyPath="yes" Source="$(var.BinSource)\tr.pak" />
            </Component>
            <Component Id="cmpDA628A0F429EFD0BF6D9A14682D49A7F" Directory="INSTALLFOLDER_Bin_Locales" Guid="{F36C50E3-263D-4DFF-B226-8A184849D04B}">
                <File Id="fil4CD66B0D03C7C0A8AE3D931E92F1D283" KeyPath="yes" Source="$(var.BinSource)\uk.pak" />
            </Component>
            <Component Id="cmpF751007D9EC2137C02B8E620BFABA8E7" Directory="INSTALLFOLDER_Bin_Locales" Guid="{22BFFA5F-1436-4AC1-BC17-73A76A6EEC98}">
                <File Id="filCC03A7111A681CD81A888EFA35D0A80B" KeyPath="yes" Source="$(var.BinSource)\vi.pak" />
            </Component>
            <Component Id="cmpFF88A7780E4938A9FAEE20D27D17FD24" Directory="INSTALLFOLDER_Bin_Locales" Guid="{49DFE51E-C0AD-4A84-86D5-30793B72A947}">
                <File Id="fil20311C06AB399764A3E6D55688A8461B" KeyPath="yes" Source="$(var.BinSource)\zh-CN.pak" />
            </Component>
            <Component Id="cmp232E1FECFE40BDEEA8B3473E54495175" Directory="INSTALLFOLDER_Bin_Locales" Guid="{9A6CF09D-7101-45D6-A08B-8668AC929EA1}">
                <File Id="fil9B0944CF92A68C698C56601A35A27DC2" KeyPath="yes" Source="$(var.BinSource)\zh-TW.pak" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>