<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER_Dossier2json" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents_Dossier2json">
            <Component Id="cmpB64696AA79A66B50D0E58276C8F73F5C" Directory="INSTALLFOLDER_Dossier2json" Guid="{67E092F5-94CE-4C81-A7AE-ADF9DE97F6A5}">
                <File Id="fil2F46BFD5725106B73EB8089C02B8910D" KeyPath="yes" Source="$(var.D2jSource)\compile.py" />
            </Component>
            <Component Id="cmp8540176488F077374645127C6834BCA8" Directory="INSTALLFOLDER_Dossier2json" Guid="{DFA6A145-4F32-4DD0-9B0C-D919AE4BAE3F}">
                <File Id="fil43C93A51802E58A2266566EE76D87EF7" KeyPath="yes" Source="$(var.D2jSource)\maps.json" />
            </Component>
            <Component Id="cmp5208B95BA67D1F67A5933407B977F608" Directory="INSTALLFOLDER_Dossier2json" Guid="{FC41B28D-ED2D-4E5C-B767-3708C0795DF8}">
                <File Id="filE03A81ACA4C6C17C42A40FFC46EAC5B5" KeyPath="yes" Source="$(var.D2jSource)\README.md" />
            </Component>
            <Component Id="cmpD5E8EB7A99336F8E29BB1D09D6C79C6C" Directory="INSTALLFOLDER_Dossier2json" Guid="{729AD66A-3888-4DD7-ACEE-A1F12CA7115F}">
                <File Id="filC756F9EC8BADF7738ED2A6DED5C6F62D" KeyPath="yes" Source="$(var.D2jSource)\structures_10.json" />
            </Component>
            <Component Id="cmp524E39FCDF23A71A87D4BFA283163A67" Directory="INSTALLFOLDER_Dossier2json" Guid="{22E91504-A748-441E-9D2F-496439940D92}">
                <File Id="filFBD3442112B6544150473A861B434643" KeyPath="yes" Source="$(var.D2jSource)\structures_17.json" />
            </Component>
            <Component Id="cmp966D593C7FBE14ED236EB9A18840099B" Directory="INSTALLFOLDER_Dossier2json" Guid="{3F95CB42-3400-4085-9BD2-92BD3D159CAC}">
                <File Id="fil72334547B6F066EC000D6AA1798DAD32" KeyPath="yes" Source="$(var.D2jSource)\structures_18.json" />
            </Component>
            <Component Id="cmpAF804C7AFF768F7D6AE962861DD43B10" Directory="INSTALLFOLDER_Dossier2json" Guid="{EB77DD01-8EAB-42A8-99F3-CBAA86CFBFA3}">
                <File Id="fil2931751CDB7441C7882FF14B53D257B3" KeyPath="yes" Source="$(var.D2jSource)\structures_20.json" />
            </Component>
            <Component Id="cmp97B614788CA8D88549696376485E01DB" Directory="INSTALLFOLDER_Dossier2json" Guid="{5CDC3F19-EA0D-43B2-B6EF-B9E4C1F39669}">
                <File Id="filFCA80B67F4995E1599FC458ADA214D1A" KeyPath="yes" Source="$(var.D2jSource)\structures_22.json" />
            </Component>
            <Component Id="cmp749294CC461B719B6AE07DE3A8572EE3" Directory="INSTALLFOLDER_Dossier2json" Guid="{A7EEE130-ED90-4C6B-A6CE-11AABE4937F7}">
                <File Id="filDE88EBB09FF4A0DE5591B5E361200F5A" KeyPath="yes" Source="$(var.D2jSource)\structures_24.json" />
            </Component>
            <Component Id="cmpE1F63CA67AA22E5A9F383AC7A6B17460" Directory="INSTALLFOLDER_Dossier2json" Guid="{C24D2C9F-3C39-444F-9C49-75FDAA4DB1B0}">
                <File Id="filD3C9139758941750EE240FA30441F4B4" KeyPath="yes" Source="$(var.D2jSource)\structures_26.json" />
            </Component>
            <Component Id="cmp95645F1124A150FD9DA764A5D1D51A10" Directory="INSTALLFOLDER_Dossier2json" Guid="{99769C74-9A74-461F-BC4D-AF65EF87C54D}">
                <File Id="filBB99E04EEA3FA600E447B92DB1CA6CA0" KeyPath="yes" Source="$(var.D2jSource)\structures_27.json" />
            </Component>
            <Component Id="cmpAB8CEDCB809F2D37DD9E60BDCF88B7D7" Directory="INSTALLFOLDER_Dossier2json" Guid="{9C68D446-2FD1-41AA-B68A-DCE74C216319}">
                <File Id="filD8E494CAB0A47418950071D6B70B9FA1" KeyPath="yes" Source="$(var.D2jSource)\structures_28.json" />
            </Component>
            <Component Id="cmp5C7966F3749E7F8A093141087B846F0E" Directory="INSTALLFOLDER_Dossier2json" Guid="{821143BA-8935-4416-B885-6116647B9BBF}">
                <File Id="fil5C179DCAD2CDAD8C6A99D9EC84D83EF8" KeyPath="yes" Source="$(var.D2jSource)\structures_29.json" />
            </Component>
            <Component Id="cmp4F9AEC34C534B26FB015FF386CE7976B" Directory="INSTALLFOLDER_Dossier2json" Guid="{499E6817-1DF3-48B5-B0B0-C4344A25EDC7}">
                <File Id="filCCF369ED159BCC4C111F362C499BD5BA" KeyPath="yes" Source="$(var.D2jSource)\structures_65.json" />
            </Component>
            <Component Id="cmpCA6208A71229E6B5142173D92E2C65EA" Directory="INSTALLFOLDER_Dossier2json" Guid="{D83B38A4-1BAF-4EDA-B691-8AC514CA1213}">
                <File Id="filC3BEE2CF5774F2B9666E99786FBB97AC" KeyPath="yes" Source="$(var.D2jSource)\structures_69.json" />
            </Component>
            <Component Id="cmp96ED4D657BF7F033C19C3D7987CC5A69" Directory="INSTALLFOLDER_Dossier2json" Guid="{246819C9-CCE8-46EE-8575-EF0FC648821B}">
                <File Id="filFEBE5B17926BD73FF7965E255F11160E" KeyPath="yes" Source="$(var.D2jSource)\structures_77.json" />
            </Component>
            <Component Id="cmp8DB446119A3BC32F2FF4D0FC54F0F51A" Directory="INSTALLFOLDER_Dossier2json" Guid="{EEAF55A5-A84B-492B-8BAD-ACE38C7D74BF}">
                <File Id="fil16B05629FF023AA4E53B479AD85706F2" KeyPath="yes" Source="$(var.D2jSource)\structures_81.json" />
            </Component>
            <Component Id="cmpDF0EF76EB93E25B92E3B35AE06A47377" Directory="INSTALLFOLDER_Dossier2json" Guid="{52DB743A-87D6-44E7-9946-B7D100CE3154}">
                <File Id="fil658CC5357D27167A6EB1467EAE4317BF" KeyPath="yes" Source="$(var.D2jSource)\tanks.json" />
            </Component>
            <Component Id="cmp9118B4EF27BCC49090F03ABFEB1661DC" Directory="INSTALLFOLDER_Dossier2json" Guid="{5CDA5525-FC71-4368-84AD-01722D6939A4}">
                <File Id="fil65135394BD3BB3D345ACBA402F678618" KeyPath="yes" Source="$(var.D2jSource)\wotdc2j.py" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>