<Fragment>
		<ComponentGroup Id="ProductComponents_Bin">
			<Component Id="cmpBase32" Directory="INSTALLFOLDER" Guid="{0038F450-31E8-459B-B435-3C6E363B10E6}">
				<File Id="filBase32" KeyPath="yes" Source="$(var.BinSource)\Base32.dll" />
			</Component>
			<Component Id="cmp39029DA5C28B02EA89473DB34C487883" Directory="INSTALLFOLDER" Guid="{2CC00E41-0F73-465E-A201-6527532C3FE5}">
				<File Id="fil026FA8F9463E0F87A33F6935627A0225" KeyPath="yes" Source="$(var.BinSource)\EntityFramework.dll" />
			</Component>
			<Component Id="cmp252C5D28B89A69DEF6F51D984574CD53" Directory="INSTALLFOLDER" Guid="{CAF2D185-A50E-4504-A153-5BE27AA71E4A}">
				<File Id="filE574CC6DE15BF84629F79053BFE80CAD" KeyPath="yes" Source="$(var.BinSource)\EntityFramework.SqlServer.dll" />
			</Component>
			<Component Id="cmpEDF1E175F1DEB460FC4B3B8A23DAD745" Directory="INSTALLFOLDER" Guid="{EEE7448D-9A6F-4202-93D3-7D2E96745E54}">
				<File Id="filBA974E27C00AA214538C713096C46448" KeyPath="yes" Source="$(var.BinSource)\EntityFramework.SqlServer.xml" />
			</Component>
			<Component Id="cmpB86E04B692F4E61CD5B6C4D4D1B585D9" Directory="INSTALLFOLDER" Guid="{E8B5CF2D-C4EA-43BC-9BA8-EB4DB0A141CE}">
				<File Id="fil656C5EE261C80086C377DEDEFD30671F" KeyPath="yes" Source="$(var.BinSource)\EntityFramework.xml" />
			</Component>
			<Component Id="cmp12064CE4ED97A7C9B2E15FA259C1E0AC" Directory="INSTALLFOLDER" Guid="{64489BED-7447-4248-B41D-A0E89D750818}">
				<File Id="fil55A0775FBD558B17D42A87F84D949BC6" KeyPath="yes" Source="$(var.BinSource)\IronPython.dll" />
			</Component>
			<Component Id="cmpCC422A0439C069B692BD9AE5678E9866" Directory="INSTALLFOLDER" Guid="{46425C6B-DF43-422B-A9FA-96542437D3F2}">
				<File Id="fil524150F47E5F90DE4ED6D2C72DAEEE8A" KeyPath="yes" Source="$(var.BinSource)\IronPython.Modules.dll" />
			</Component>
			<Component Id="cmpBAD1D6DDA30F6DE5F8C2FAB1792602A5" Directory="INSTALLFOLDER" Guid="{803E7F7E-BDD5-47DF-880E-41B19727758D}">
				<File Id="filB8748801E8FF22C8F44BC8D1C44CC0F7" KeyPath="yes" Source="$(var.BinSource)\IronPython.Modules.xml" />
			</Component>
			<Component Id="cmp43284962FF0968F543FF3CB1769A9D46" Directory="INSTALLFOLDER" Guid="{FC50DC10-5AAE-436C-9A8B-D14A463B2D6A}">
				<File Id="filEFC46EED1E01855DF0868678BB750D27" KeyPath="yes" Source="$(var.BinSource)\IronPython.SQLite.dll" />
			</Component>
			<Component Id="cmpFB1FA07B9AC5B9B3EE20D6A16B9F1FA8" Directory="INSTALLFOLDER" Guid="{8F9E4AEC-4792-4964-9B28-CB7A45971ED2}">
				<File Id="fil9E5E518196CC5695AAF4F42775E02AE6" KeyPath="yes" Source="$(var.BinSource)\IronPython.SQLite.xml" />
			</Component>
			<Component Id="cmpA23E6F2930E6CD99CDF6DC9B37F9A1E9" Directory="INSTALLFOLDER" Guid="{34199DAA-D7B1-4371-B6C0-3539B6F64772}">
				<File Id="fil63B8E2680890D68B1FE299536A42ED8D" KeyPath="yes" Source="$(var.BinSource)\IronPython.Wpf.dll" />
			</Component>
			<Component Id="cmpB5D142B705CEA3D45DF07DBBF7B57207" Directory="INSTALLFOLDER" Guid="{CC02BE46-48E9-4C90-92FF-C3B0A7C33039}">
				<File Id="filDABCB5CB10F79030E23D1F9CF34A4BC9" KeyPath="yes" Source="$(var.BinSource)\IronPython.Wpf.xml" />
			</Component>
			<Component Id="cmp3A49B8E51A59D47EF8932A589347AC64" Directory="INSTALLFOLDER" Guid="{2CDAC0DF-0132-412C-A398-1847ED358949}">
				<File Id="filD3975B84C242B8A2E0071B8C52FB2E6A" KeyPath="yes" Source="$(var.BinSource)\IronPython.xml" />
			</Component>
			<Component Id="cmp18D79F5B6BB6C355C18BFB8ABE20DE21" Directory="INSTALLFOLDER" Guid="{85CAA7B9-B0E8-462A-A529-FA7FB314F7D2}">
				<File Id="fil569A6262E4F049292D13683D28FEFD34" KeyPath="yes" Source="$(var.BinSource)\LibGit2Sharp.dll" />
			</Component>
			<Component Id="cmp58ADD145807E052CE1D66E0972A4841B" Directory="INSTALLFOLDER" Guid="{8AD55D5B-EB19-4253-84B8-0936FC254AE7}">
				<File Id="fil303CD08EE0971F487082CAFCA900A31D" KeyPath="yes" Source="$(var.BinSource)\LibGit2Sharp.xml" />
			</Component>
			<Component Id="cmp7CC7489EC2A48E137F69DA29524EE38B" Directory="INSTALLFOLDER" Guid="{D7C4BAE4-C26A-45C4-B178-2659F0BB733C}">
				<File Id="fil1E4CFA009FF3F86CF63E853CA306C75B" KeyPath="yes" Source="$(var.BinSource)\Microsoft.Dynamic.dll" />
			</Component>
			<Component Id="cmpE7446C97687A08DFB1111FBA2F145980" Directory="INSTALLFOLDER" Guid="{A704C9BF-77C1-4168-9BAB-7883DDA47D80}">
				<File Id="filE26B5A7D8E0F2612D937943B85AB5D3C" KeyPath="yes" Source="$(var.BinSource)\Microsoft.Dynamic.xml" />
			</Component>
			<Component Id="cmpCDA012FFC5DB9D1ED4AC69283946FB8A" Directory="INSTALLFOLDER" Guid="{EFEDC19E-4962-49E9-A7A5-0AE32BEB8328}">
				<File Id="fil23C701EC45A6777AE1A12BB013C2B745" KeyPath="yes" Source="$(var.BinSource)\Microsoft.Scripting.AspNet.dll" />
			</Component>
			<Component Id="cmp5DB3224EBA2E701E92CFDE0C2062D569" Directory="INSTALLFOLDER" Guid="{776B8F5D-B28F-4D70-A467-5E88DCF00E2D}">
				<File Id="fil1502199384B77F682B5DEBDE7A2F7EC7" KeyPath="yes" Source="$(var.BinSource)\Microsoft.Scripting.AspNet.xml" />
			</Component>
			<Component Id="cmpA7AACFA38CB5C95BA9750BA57A7143F4" Directory="INSTALLFOLDER" Guid="{C7510957-069A-403D-B2D6-E50335002691}">
				<File Id="fil19E03100E6442E27D7AF4E247F92D7C0" KeyPath="yes" Source="$(var.BinSource)\Microsoft.Scripting.dll" />
			</Component>
			<Component Id="cmp0F00EDC88EEDDFFB7A685419AACB1BC5" Directory="INSTALLFOLDER" Guid="{FC2BC3F8-97CF-4E1F-9CB3-14294F64E2EA}">
				<File Id="fil3627D6B0A33FF4F70A15ADE581CAAAFF" KeyPath="yes" Source="$(var.BinSource)\Microsoft.Scripting.Metadata.dll" />
			</Component>
			<Component Id="cmp6B2F4825E60968E8745D73F62C2A2617" Directory="INSTALLFOLDER" Guid="{35FC449D-EC07-464F-A178-E9CFE5184BEC}">
				<File Id="fil68A84737043172F53D2736E9574C5C2E" KeyPath="yes" Source="$(var.BinSource)\Microsoft.Scripting.Metadata.xml" />
			</Component>
			<Component Id="cmpC3CFA5AD8C8282BB84ACE8CBFF6279DA" Directory="INSTALLFOLDER" Guid="{B9E56FCD-A8F9-433A-92B9-0B3A9AB7E3CD}">
				<File Id="filB6385BA25C797A5F897976C65146D845" KeyPath="yes" Source="$(var.BinSource)\Microsoft.Scripting.xml" />
			</Component>
			<Component Id="cmp3AAC4917373A2E3243AEC1EFB422E757" Directory="INSTALLFOLDER" Guid="{1BDE573D-3A54-4B52-A10B-385BA688E135}">
				<File Id="fil3712AE3EEDCBA6897B067E00FFA53510" KeyPath="yes" Source="$(var.BinSource)\Newtonsoft.Json.dll" />
			</Component>
			<Component Id="cmpEC78F3B7FB6B3BDADD56AC393D28D607" Directory="INSTALLFOLDER" Guid="{57AFE458-E543-448C-8343-153D86380A0C}">
				<File Id="filC5DBC9BC77B887A43154F71FB6BAFC3A" KeyPath="yes" Source="$(var.BinSource)\Newtonsoft.Json.xml" />
			</Component>
			<Component Id="cmp52EB323BCEBC7915720D89D536BF61B5" Directory="INSTALLFOLDER" Guid="{32492100-A642-4A1C-86C2-E6C72848FEF4}">
				<File Id="fil86C5CD1E4F2C918F8881AA564619AEF7" KeyPath="yes" Source="$(var.BinSource)\System.Data.SQLite.dll" />
			</Component>
			<Component Id="cmp0598E098E2F0E868F8F1C94926817E4E" Directory="INSTALLFOLDER" Guid="{B3560308-5138-40D1-8418-2E0A3241A2F1}">
				<File Id="filD8D54D2E1F45F55F6BC57D685503C857" KeyPath="yes" Source="$(var.BinSource)\System.Data.SQLite.EF6.dll" />
			</Component>
			<Component Id="cmpFA2518312087D820AAC9F929ECA70DED" Directory="INSTALLFOLDER" Guid="{F67F96BD-9EAF-4923-805C-8F4B2E4D7DFA}">
				<File Id="fil247D62A4CE8817AAAAEF7E52E96B2A54" KeyPath="yes" Source="$(var.BinSource)\System.Data.SQLite.Linq.dll" />
			</Component>
			<Component Id="cmpF7C4BFAE4A90C5C03E301D2654DC1B65" Directory="INSTALLFOLDER" Guid="{75EC9B3B-E5D9-47B7-BA38-148EBF978382}">
				<File Id="fil896705EC482332B526E5789CF769B981" KeyPath="yes" Source="$(var.BinSource)\System.Data.SQLite.xml" />
			</Component>
			<Component Id="cmpCF5139C84EC3D067110BB10F9EF015CA" Directory="dir14D5FAC7840CD2D7C4ABE5B3FE0CE93F" Guid="{026DBA4F-5874-4AD8-9D03-D791E0B7A237}">
				<File Id="fil1B11A24B32B565BB383AE8CF52F80A92" KeyPath="yes" Source="$(var.BinSource)\x64\SQLite.Interop.dll" />
			</Component>
			<Component Id="cmpB1151D54BFE2511483AC48AC0AC82352" Directory="dir333657C7E637B67D52AB9F6D83C62C08" Guid="{975FF102-904C-4CF3-820B-F9D6099ADA7F}">
				<File Id="fil3424BAD48E96451636FBDE97C2A3DB16" KeyPath="yes" Source="$(var.BinSource)\x86\SQLite.Interop.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>